---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="This is me 👆"
	description="pues yo"
	pubDate={new Date('Feb 08 2023')}
	heroImage="/nazhGsm.jpg"
>
	<p>
		Feel free to contact me to discuss any project,<br/>
		idea<br/>
		or just to say hi.<br>
		<a href="mailto:nazhirgonzalez@gmail.com" class="flex items-center">
			<svg class="mr-2" width="16" height="16" viewBox="0 0 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z" fill="currentColor"></path></svg>
			<i>EMAIL</i>
		</a>
	</p>
</Layout>
